.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modalContent {
  position: relative;
  background-color: var(--ifm-background-surface-color);
  border-radius: var(--ifm-global-radius);
  margin: auto;
  padding: 0;
  width: calc(var(--ifm-container-width) * 0.7);
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 95%;
}

@keyframes animatetop {
  from {
    top: -30rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modalClose {
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.modalClose:hover,
.modalClose:focus {
  color: var(--ifm-color-primary);
}

.modalHeader {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: baseline;
}

.modalHeader h2 {
  margin: 0;
}

.modalBody {
  padding: 1rem 1.5rem;
}
