.title {
  font-family: monospace;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.code {
  display: block;
  font-size: 1.5rem;
}

.word {
  position: relative;
}

.word::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 13px;
  background: url('/img/squiggle.svg') repeat-x;
  background-size: contain;
  image-rendering: smooth;
}
