/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  --ifm-font-color-base: var(--ifm-color-white);
  --ifm-button-color: var(--ifm-color-white);

  background-color: var(--color-blurple-shadow);
  background-image: linear-gradient(
    135deg,
    var(--color-blurple) 0%,
    var(--color-blurple-shadow) 100%
  );
  text-align: center;
}

.hero__logo {
  height: 10rem;
  width: 10rem;
}

.hero__subtitle {
  margin-bottom: 24px;
}

.buttons {
  --ifm-button-size-multiplier: 1.6;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.buttons a {
  --ifm-font-color-base: var(--ifm-color-white);
  --ifm-button-color: var(--ifm-color-white);

  margin: 1rem;
}

.buttonCentered {
  margin: auto;
}

.buttonPrimary {
  border: var(--ifm-button-border-width) solid var(--ifm-button-color);
}

.buttonPrimary:hover {
  box-shadow: 0 2px 8px var(--ifm-button-color);
}

[data-theme='dark'] .buttonPrimary {
  border: var(--ifm-button-border-width) solid var(--ifm-button-color);
}

.lightBackground {
  background: var(--ifm-color-emphasis-100);
}

.features,
.sponsors {
  display: flex;
  align-items: center;
  width: 100%;
}

.sponsors {
  text-align: center;
}

.featureImage {
  height: 7rem;
  width: 7rem;
}
