node_modules
dist
jest.config.js
commitlint.config.js
fixtures
shared-fixtures
coverage
__snapshots__

packages/eslint-plugin-tslint/tests

packages/website/**/*.js
packages/website/**/*.d.ts

# Files copied as part of the build
packages/types/src/ast-spec.ts
