* text=auto eol=lf

# force github to treat out custom jest snapshot extension as normal jest snapshots
*.shot linguist-language=Jest-Snapshot
*.shot linguist-generated
packages/scope-manager/src/lib/**/* linguist-generated
