trigger:
  - master

jobs:
- job: primary_code_validation_and_unit_tests
  displayName: Primary code validation and unit tests
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 11
    displayName: 'Install Node.js 11'

  - script: |
      # This also runs a build as part of the postinstall
      # bootstrap
      yarn --ignore-engines --frozen-lockfile

  - script: |
      yarn check-format
    displayName: 'Check code formatting'

  - script: |
      yarn test
    displayName: 'Run unit tests'

- job: unit_tests_on_other_node_versions
  displayName: Run unit tests on other Node.js versions
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    maxParallel: 3
    matrix:
      node_10_x:
        node_version: 10.x
      node_8_x:
        node_version: 8.x
      node_6_x:
        node_version: 6.x
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)
    displayName: 'Install Node.js $(node_version)'

  - script: |
      # This also runs a build as part of the postinstall
      # bootstrap
      yarn --ignore-engines --frozen-lockfile

  - script: |
      yarn test
    displayName: 'Run unit tests'
