.sponsorLink {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.become {
  margin: 8px 0 24px;
  font-size: 1rem;
}

@media screen and (min-width: 1150px) {
  .sponsorsContainer {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: auto;
    max-width: 100%;
  }

  .tierArea {
    margin: 16px 0;
    width: auto;
    padding: 0 60px;
  }

  .tierSponsorArea {
    grid-area: 1 / 1 / 3 / 2;
  }

  .tierSupporterArea {
    grid-area: 1 / 2 / 2 / 3;
  }

  .tierOtherArea {
    grid-area: 2 / 2 / 3 / 3;
  }
}
