.list {
  font-family: var(--ifm-font-family-monospace);
  background: transparent;
  border: none;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  font-feature-settings: 'liga' 0, 'calt' 0;
}

.list,
.subList {
  box-sizing: border-box;
  white-space: break-spaces;
  margin: 0;
  padding-left: 1.5rem;
}

.selected {
  background: var(--code-line-decoration);
}

.nonExpand,
.expand {
  border-left: 0.1rem dashed var(--ifm-color-emphasis-200);
}

.expand.open::before {
  content: '+';
}

.expand::before {
  content: '-';
  margin-left: -1rem;
  width: 1rem;
  display: inline-block;
}

.valueBody {
  min-width: 300px;
  width: fit-content;
}

.tokenName {
  color: #2aa198;
}

.propName {
  color: #b58900;
}

.propNumber {
  color: #268bd2;
}

.propEmpty {
  color: var(--ifm-color-emphasis-400);
}

.propRegExp {
  color: #b58900;
}

.propClass {
  color: #b58900;
}

.propBoolean {
  color: #b58900;
}

.propString {
  color: #15aa15;
}

.hidden {
  color: var(--ifm-color-emphasis-400);
  max-width: 40%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
