.tierArea {
  margin: 32px auto;
  width: 100%;
}

.sponsorsTier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 800px;
  padding: 0;
}

.sponsorsTier li {
  list-style: none;
  margin: 5px;
  max-width: 130px;
}

.sponsorsTier img {
  background: white;
  display: block;
  margin: auto;
}

.sponsorsTier a,
.sponsorsTier a:hover {
  background: none;
  border: none;
}

.tier-platinum-sponsor {
  gap: 32px 16px;
}

.tier-platinum-sponsor img {
  display: inline-block;
  max-height: 130px;
  max-width: 130px;
  width: 130px;
}

.tier-gold-supporter,
.tier-silver-supporter {
  align-items: center;
}

.tier-gold-supporter {
  font-size: 0.95rem;
  line-height: 1;
  gap: 12px;
  padding-top: 12px;
}

.tier-gold-supporter img {
  max-height: 75px;
  max-width: 75px;
  width: 75px;
}

.tier-silver-supporter {
  gap: 4px 16px;
  margin: auto;
  max-width: 75%;
}

.tier-silver-supporter img {
  max-height: 45px;
  max-width: 45px;
  width: 45px;
}

@media screen and (min-width: 700px) {
  .tierArea {
    min-width: 500px;
    width: 50vw;
  }
}

@media screen and (min-width: 1150px) {
  .tierArea {
    margin: 16px 0;
    width: auto;
    padding: 0 60px;
  }

  .tier-gold-supporter {
    margin-bottom: 0;
  }
}
