.checkboxList {
  flex-wrap: wrap;
}

.checkboxListItem {
  user-select: none;
  white-space: nowrap;
  height: 32px;
  font-size: 0.8rem;
  margin-top: 0.5rem !important;
  display: inline-flex;
  margin-right: 0.5rem;
}

.checkboxListItem:last-child {
  margin-right: 0;
}

.checkboxLabel:hover {
  opacity: 1;
  box-shadow: 0 0 2px 1px var(--ifm-color-secondary-darkest);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 4px;
  padding: 0.275rem 0.8rem;
  opacity: 0.85;
  transition: opacity 200ms ease-out;
  border: 2px solid var(--ifm-color-secondary-darkest);
  background-color: var(--ifm-background-color);
}

[data-theme='dark'] .checkboxLabel {
  border: 2px solid #666666;
}

.checkboxLabel:focus-visible {
  outline: 2px solid currentColor;
}

.checkboxLabelActivated {
  opacity: 0.9;
  background-color: var(--site-color-checkbox-checked-bg);
  border: 2px solid var(--ifm-color-primary-lighter);
}

[data-theme='dark'] .checkboxLabelActivated {
  border: 2px solid var(--ifm-color-primary-dark);
}

.checkboxLabelActivated:hover {
  opacity: 0.75;
  box-shadow: 0 0 2px 1px var(--ifm-color-primary-lightest);
}

.checkboxLabelDeactivated {
  opacity: 0.9;
  background-color: #fa383e40;
  border: 2px solid #c60a0a70;
}

[data-theme='dark'] .checkboxLabelDeactivated {
  border: 2px solid #ff000050;
}

.checkboxLabelDeactivated:hover {
  opacity: 0.75;
  box-shadow: 0 0 2px 1px #ff000070;
}

[data-theme='dark'] .checkboxLabelDeactivated:hover {
  box-shadow: 0 0 2px 1px #eb6c6c;
}
