sudo: required

services:
  - docker

language: node_js

node_js:
    - "6"
    - "8"
    - "9"
    - "10"
    - "11"

script: npm test && npm run integration-tests

after_success:
    - npm run coveralls
