.searchContainer {
  display: flex;
  margin: 0 0 0.5rem 0;
  position: sticky;
  top: 0;
  left: 0;
}

.search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--ifm-navbar-search-input-background-color)
    var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem;
  border: none;
  color: var(--ifm-navbar-search-input-color);
  cursor: text;
  display: inline-block;
  height: 2rem;
  padding: 0 0.5rem 0 2.25rem;
  font-size: 0.9rem;
  flex: 1;
}

.search::placeholder {
  color: var(--ifm-navbar-search-input-placeholder-color);
}

.errorContainer {
  word-wrap: break-word;
  white-space: break-spaces;
  padding: 20px;
}
