.tierArea {
  margin: 32px 0;
}

.sponsorsTier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 800px;
  margin: 10px auto;
  padding: 0;
}

.sponsorsTier li {
  list-style: none;
  margin: 5px;
}

.sponsorsTier a,
.sponsorsTier a:hover {
  background: none;
  border: none;
}

.tier-sponsor {
  gap: 16px;
}

.tier-sponsor img {
  max-height: 110px;
  width: 110px;
}

.tier-supporter img {
  max-height: 60px;
  width: 60px;
}

.sponsorLink {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.become {
  margin: 8px 0 24px;
  font-size: 1rem;
}

@media screen and (min-width: 1150px) {
  .sponsorsContainer {
    display: flex;
    gap: 32px;
    margin: auto;
    max-width: 75%;
  }

  .tierArea {
    width: 50%;
  }
}
