.optionLabel {
  cursor: pointer;
}

.optionItem,
.optionLabel {
  align-items: center;
  display: flex;
  flex: 0 0 1.5rem;
  flex-direction: row;
  font-size: 0.75rem;
  margin: 0 0;
  padding: 0.4rem 0.8rem;
  transition: background-color var(--ifm-transition-fast)
      var(--ifm-transition-timing-default),
    color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  color: var(--ifm-font-color-secondary);
  justify-content: space-between;
  border: none;
  background: transparent;
  font-family: var(--ifm-font-family-base);
  box-sizing: border-box;
  line-height: var(--ifm-line-height-base);
}

.optionLabel:hover {
  background-color: var(--ifm-color-emphasis-100);
  color: var(--ifm-font-color-primary);
}

.optionInput {
  display: block;
  width: 90%;
  padding: 0.4rem 0.6rem;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--ifm-font-color-secondary);
  border: 1px solid var(--ifm-color-emphasis-100);
  background: var(--ifm-color-emphasis-200);
  transition: border 0.3s ease;
}
.optionInput::placeholder {
  color: var(--ifm-color-emphasis-700);
}
.optionInput:focus {
  outline: none;
  border-color: var(--ifm-color-primary);
}

.optionSelect {
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  font-family: inherit;
  width: 50%;
  box-shadow: none;
  background-image: none;
  padding: 0.4rem 0.6rem;
  appearance: none;
  color: var(--ifm-font-color-secondary);
  border: 1px solid var(--ifm-color-emphasis-100);
  background: var(--ifm-color-emphasis-200);
  transition: border 0.3s ease;
}
.optionSelect:focus {
  outline: none;
  border-color: var(--ifm-color-primary);
}
