:root {
  --playground-main-color: var(--ifm-background-surface-color);
  --playground-secondary-color: var(--ifm-color-emphasis-100);
}

.options {
  width: 20rem;
  background: var(--playground-main-color);
  overflow: auto;
}

.sourceCode {
  height: 100%;
  width: 50%;
  border: 1px solid var(--playground-secondary-color);
}

.codeBlocks {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: calc(100vw - 20rem);
}

.astViewer {
  height: 100%;
  width: 50%;
  border: 1px solid var(--playground-secondary-color);
  padding: 0;
  overflow: auto;
  word-wrap: initial;
  white-space: nowrap;
  background: var(--code-editor-bg);
}

.codeContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: calc(100% - var(--ifm-navbar-height));
  top: var(--ifm-navbar-height);
  z-index: calc(var(--ifm-z-index-fixed) - 1);
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  background: var(--playground-main-color);
  border-bottom: 1px solid var(--playground-secondary-color);
}

.tabCode {
  height: calc(100%);
}

.tabStyle {
  border: none;
  border-right: 1px solid var(--playground-secondary-color);
  background: var(--playground-main-color);
  color: var(--ifm-color-emphasis-700);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tabStyle svg {
  margin-left: 0.3rem;
}

.tabStyle:hover {
  background: var(--playground-secondary-color);
}

.tabStyle:disabled {
  background: var(--playground-secondary-color);
  color: var(--ifm-color-emphasis-900);
}

@media only screen and (max-width: 996px) {
  .codeContainer {
    display: block;
    width: 100%;
    position: static;
  }
  .codeBlocks {
    display: block;
    width: 100%;
  }

  .options {
    width: 100%;
  }

  .tabCode {
    height: calc(30rem - 3.2rem);
  }

  .astViewer,
  .sourceCode {
    height: 30rem;
    width: 100%;
  }

  .astViewer {
    height: auto;
    max-height: 30rem;
  }
}
