.teamBio {
  --square-size: 9rem;

  display: flex;
  flex-direction: column;
  max-width: var(--square-size);
}

.profilePhoto {
  width: var(--square-size);
  height: var(--square-size);
}

.texts {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  flex-direction: column;
}

.name {
  font-size: 0.9rem;
}

.description {
  font-size: 0.85rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  padding-left: 0;
}

.serviceIcon {
  --size: 1.25rem;

  height: var(--size);
  transition: opacity 200ms;
  width: var(--size);
}

.serviceIcon:not(:focus, :hover) {
  opacity: 0.7;
}
