.codeBlockContentWithPlayground {
  min-height: 5.5rem;
}

/* Without this the playground button overlaps a long last line of code */
.codeBlockContentMorePadding pre > code {
  padding-bottom: calc(var(--ifm-pre-padding) * 2.5);
}

.playgroundButton {
  position: absolute;
  bottom: calc(var(--ifm-pre-padding) / 2);
  right: calc(var(--ifm-pre-padding) / 2);
}

@media screen and (width <= 768px), screen and (996px <= width <= 1200px) {
  .codeBlockContentWithPlayground {
    min-height: auto;
    overflow: auto;
  }

  .playgroundButton {
    position: static;
    margin: calc(var(--ifm-pre-padding) / 2);
  }
}
