.list, .subList {
  cursor: default;
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.subList {
  padding-left: 1rem;
}

.nonExpand, .expand {
  border-left: 0.1rem dashed var(--ifm-color-emphasis-200);
  padding-left: 0.9rem;
}

.expand.open::before {
  content: '+';
}

.selected {
  background-color: var(--code-line-decoration);
}

.expand::before {
  content: '-';
  margin-left: -1rem;
  width: 1rem;
  display: inline-block;
}

.valueBody {
  min-width: 300px;
  width: fit-content;
}

.tokenName {
  color: #2AA198;
}

.propName {
  color: #B58900;
}

.propNumber {
  color: #268BD2;
}

.propBoolean {
  color: #B58900;
}

.propString {
  color: #15aa15;
}

.hidden {
  color: var(--ifm-color-emphasis-400);
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}
