.textInput {
  background-color: var(--ifm-color-emphasis-200);
  border: 1px solid var(--ifm-color-emphasis-100);
  color: var(--ifm-font-color-secondary);
  transition: border 0.3s ease;
  cursor: text;
  display: inline-block;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  flex: 1;
}

.textInput[type='search'] {
  padding-left: 2.25rem;
  background: var(--ifm-color-emphasis-200) var(--ifm-navbar-search-input-icon)
    no-repeat 0.75rem center / 1rem 1rem;
}

.textInput::placeholder {
  color: var(--ifm-color-emphasis-700);
}

.textInput:focus {
  outline: none;
  border-color: var(--ifm-color-primary);
}
