.title {
  font-size: 3rem;
}

.title code {
  background: none;
  border: none;
  display: inline;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media screen and (width <= 576px) {
  .title {
    font-size: 2rem;
  }
}
