.financialContributors {
  align-items: center;
  background: var(--ifm-color-emphasis-0);
  display: flex;
  text-align: center;
  width: 100%;
}

.details {
  font-size: 1.2rem;
  max-width: 70vw;
  margin: 2rem auto;
}

.linksArea {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  margin: 48px 24px 24px;
}

.tierOtherArea {
  padding: 0;
}

.become {
  font-size: 1.25rem;
  padding: 0.75rem 1.75rem;
}

.linksMore {
  display: flex;
  gap: 0.5rem;
}

[data-theme='dark'] .linksArea a {
  --ifm-font-color-base: var(--ifm-color-white);
  --ifm-button-color: var(--ifm-color-white);
}

@media screen and (width >= 1150px) {
  .sponsorsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    max-width: 100%;
  }

  .tierSponsorArea {
    grid-area: 1 / 1 / 3 / 2;
  }

  .tierSupporterArea {
    grid-area: 1 / 2 / 2 / 3;
  }

  .tierSponsorArea,
  .tierSupporterArea {
    padding: 0 60px;
  }

  .tierOtherArea {
    grid-area: 2 / 2 / 3 / 3;
  }

  .linksArea {
    margin: 24px;
  }
}
